.character-admonition > .icon {
    display: table-cell;
    vertical-align: top;
    width: 96px;
    height: 96px;
    padding-right: 18px;
}

.character-admonition > .icon > .name {
    font-size: small;
    text-align: center;
}

.character-admonition > .message {
    display: table-cell;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    position: relative;
    padding: 12px 12px 12px 12px;
}

.character-admonition > .message:before {
    border: 10px solid transparent;
    border-right-color: #fff;
    border-left-width: 0;
    left: -9px;
    content: "";
    display: block;
    top: 8px;
    position: absolute;
    width: 0;
    z-index: 1;
    clear: both;
}

.character-admonition > .message:after {
    border: 10px solid transparent;
    border-right-color: #000;
    border-left-width: 0;
    left: -10px;
    content: "";
    display: block;
    top: 8px;
    position: absolute;
    width: 0;
}
